.pie{
     background-color:black;
     margin-top: auto;
     text-align: center;
     padding: 20px 6px 20px;
  }
  
  .pie__icon--sm{
     width: 80px;
  }
  
  .pie_titulo--md{
    margin-bottom: 20px;
     font-size: 1.2em;
     color: rgba(255, 166, 0, 0.838);
  }